<server description="System Service">

  <featureManager>
    <platform>jakartaee-10.0</platform>
    <platform>microprofile-7.0</platform>
    <feature>cdi</feature>
    <feature>jsonb</feature>
    <feature>mpHealth</feature>
    <feature>mpConfig</feature>
    <feature>enterpriseBeansLite</feature>
    <feature>mdb</feature>
  </featureManager>

  <variable name="http.port" defaultValue="9082"/>
  <variable name="https.port" defaultValue="9445"/>

  <httpEndpoint id="defaultHttpEndpoint" host="*"
                httpPort="${http.port}" httpsPort="${https.port}" />

  <webApplication location="guide-jms-intro-system.war" contextRoot="/"/>

</server>
